* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.container::before {
    content:'';
    clear: both;
}

.container::after {
    content:'';
    clear: both;
    displaY: table;
}

.container {
    max-width: 1140px;
    margin: auto;
}

#top-nav {
    padding: 35px 0;
    background-color: #2a2a2a;
}

.logo {
    float: left;
}

.logo img {
    width: 145px;
}

.nav {
    margin-top: 10px;
    float: right;
}

.nav li {
    display: inline-block;
}

.nav li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #c4c4c4;
    letter-spacing: 0.5px;
    line-height: 1;
}

.nav .active,
.nav li a:hover {
    color: #f74d4c;
}

#main-header {
    background-color: #2d2d2d;
}

.head-content {
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

h1.content-head {
    font-size: 50px;
    font-weight: 300;
    color: #d9d9d9;
    padding-bottom: 20px;
}

p.desc {
    font-size: 40px;
    font-weight: 300;
    color: #d9d9d9;
    padding-bottom: 50px;
}

.btn-content {
    cursor: pointer;
    background-color: #ff5357;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    letter-spacing:: 0.5px;
}
