* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.container::before {
    content:'';
    clear: both;
}

.container::after {
    content:'';
    clear: both;
    displaY: table;
}

.container {
    max-width: 1140px;
    margin: auto;
}

#top-nav {
    padding: 35px 0;
    background-color: #1c1c1c;
}

.logo {
    float: left;
}

.logo img {
    width: 145px;
}

.nav {
    margin-top: 10px;
    float: right;
}

.nav li {
    display: inline-block;
}

.nav li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #c4c4c4;
    letter-spacing: 0.5px;
    line-height: 1;
}

.nav .active,
.nav li a:hover {
    color: #f74d4c;
}

#main-header {
    background-color:#1f1f1f;
}

.head-content {
    color: #2d2d2d;
    text-align: center;
    padding: 60px 0;
}

h1.content-head {
    font-size: 62px;
    font-weight: 300;
    color: #d9d9d9;
    padding-bottom: 20px;
}

p.desc {
    font-size: 42px;
    font-weight: 300;
    color: #d9d9d9;
    padding-bottom: 50px;
}

.btn-content {
    cursor: pointer;
    background-color: #f74d4c;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    letter-spacing:: 0.5px;
}

#service {
	text-align: center;
	background-color: #f6f6f6;
}

.content {
	text-align: center;
	padding: 90px 11px;
	max-width: 260px;
	display: inline-block;
}

.content p {
	font-size: 15px;
	line-height: 1.7;
	color: #7c7c7c;
}

.content h3 {
	padding-bottom: 10px;
	color: #505050;
}

.content img {
	padding-bottom: 20px;
	width: 50px;
	height: 50px;
}

#feature {
	padding: 60px;
	text-align: center;
}

.feature-title {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.5px;
	color: #616161;
	padding-bottom: 15px;
}

#feature p {
	font-size: 20px;
	letter-spacing: 0.5px;
	font-weight: 300;
	color: #616161;
	margin-bottom: 55px;
}

#feature ul {
	padding: 8px 0;
	margin-bottom: 23px;
}

#feature ul li {
	display: inline-block;
	margin: 0 2px;
}

#feature ul li a {
	text-decoration: none;
	cursor: pointer;
	background-color: #f74d4c;
	text-transform: uppercase;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-weight: 700;
	font-size: 12px;
	border-radius: 5px;
	letter-spacing:: 0.5px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	#feature ul li a {
		font-weight: 900;
	}
}

#feature ul li a.active,
#feature ul li a:hover {
	background-color: #5a5a5a;
}

.img-feature {
	text-align: center;	
}

#feature img {
	padding: 4px 4px;
}

.footer {
	padding: 50px;
	text-align: center;
	background-color: #252525;
}

.footer h2 {
	color: #dfdfdf;
	font-weight: 900;
	font-size: 30px;
	padding-bottom: 20px;
}

.footer p {
	color: #bebebe;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0.5px;
	padding-bottom: 20px;
}

.footer ul li {
	display: inline-block;
}

.footer ul li a img {
	width: 30px;
}

.icon {
	color: #bdbdbd;
	padding: 0 20px;
	font-weight: 400;
	font-size: 14px;
	display: inline-block;
	padding-bottom: 20px;
}

.icon img{
	padding: 0 5px;
	width: 10px;
	height: 10px;
}

.social-media {
	padding: 0 3px
}

#copyright {
	text-align: center;
	padding: 30px;
	color: #bdbdbd;
	background-color: #202020;
}
